<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>

<div>
  <%= link_to 'New User', new_user_path, class: 'button alt' %>
</div>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.skypeid %></td>
      <td> <div id= <%= "SkypeButton_Call_"+user.first_name %>>
        <script type="text/javascript">
          Skype.ui({
                 "name": "call",
                 "element": "<%= "SkypeButton_Call_"+user.first_name %>",
                 "participants": ["<%= user.skypeid %>"]
                });
        </script>
        </td>
    </tr>
  <% end %>
</table>


