<h1> Register New User </h1>

<%= simple_form_for User.new do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :user_id %>
  <%= f.input :email %>
  <%= f.input :password %>
  <br />
  <%= f.submit 'Create' %>
<% end %>